
    <!-- Portfolio Grid Section -->
    <section class="success" id="evento">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><i class="fa fa-4 fa-users" aria-hidden="true"></i> O evento</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Soluções baseadas em Cloud e APIs tornaram-se o novo padrão no mercado, somadas à crescente 
                        necessidade de mobilidade das aplicações, foram os fatores que determinaram o conteúdo da 2ª Edição do GFT Technology Workshop.  
                        Buscamos cada vez mais a próxima geração de ferramentas, tecnologias e serviços inteligentes, com o objetivo de suportar 
                        a construção de aplicações com estas características. Junte-se à nós nesta jornada explorando temas como API Management, 
                        Testing and Documentation, Azure COSMOS DB, AWS com PowerShell, Aplicações Móveis com Código Nativo e Híbrido, e muito mais. 
                        Aproveite esta oportunidade para aprofundar seus conhecimentos nestes temas e interagir com colegas de outras localidades da GFT!
                    </p>
                </div>
            </div>
        </div>
    </section>
