 <!-- Palestrantes Section -->
    <section id="palestrantes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><i class="fa fa-4 fa-user" aria-hidden="true"></i> Palestrantes</h2>
                    <hr>
                </div>
            </div>
            <div class="row palestrante-par" id="antonio_moreno">
                <div class="col-md-3 foto-palestrante">
                  <img src="img/palestrantes/antonio_moreno.jpg" />
                </div>
                <div class="col-md-9 bio-palestrante">
                 <h3>Antonio Moreno</h3> 
                 <q>Antonio Moreno é Engenheiro Sênior há mais de 4 anos na GFT com tecnologias Microsoft, 
                  possui background de mais de 13 anos na área. Head da prática de Streamlined Code Development, 
                  palestrante e colaborador nas iniciativas tecnológicas da GFT Brasil. Formado em Sistemas de Informação 
                  pela Faculdade Impacta de Tecnologia, amante de aeromodelismo e de jogar(ou perder) online com amigos.
                  </q>
                </div>
            </div>
            <div class="row palestrante-impar" id="bruno_gianella">
                <div class="col-md-3 foto-palestrante">
                  <img src="img/palestrantes/bruno_giannella.jpg" />
                </div>
                <div class="col-md-9 bio-palestrante">
                 <h3>Bruno Gianella</h3> 
                 <q>Bacharel em Sistemas de informação e Arquiteto de Sistemas na GFT Brasil. 
                  Entusiasta do full-stack e especialista em integração de sistemas. 
                  Apaixonado por tudo que leva um produto da ideia incial à entrega final.
                  </q>
                </div>
            </div>
          <div class="row palestrante-par" id="bruno_savani">
                <div class="col-md-3 foto-palestrante">
                  <img src="img/palestrantes/bruno_savani.jpg" />
                </div>
                <div class="col-md-9 bio-palestrante">
                 <h3>Bruno Savani</h3> 
                 <ul>
                    <li>Certificado MCSD WebApps</li>
                    <li>Graduado em Sistemas de Informação - FSA</li>
                    <li>MBA em Arquitetura de Soluções - FIAP</li>
                    <li>Trabalhando com Tecnologia de Informação desde 2005</li>
                    <li>Viciado em Video-Games e Séries</li>
                    <li>Apesar de trabalhar com a Microsoft prefiro PS4</li>
                    <li>Me adicionem na PSN</li>
                    <li>Pai da Gaia, uma Border-Collie</li>
                    <li>Quando possível ando de skate</li>
                  </ul>
                </div>
            </div>
         <div class="row palestrante-impar" id="cassio_imamura">
                <div class="col-md-3 foto-palestrante">
                  <img src="img/palestrantes/cassio_imamura.jpg" />
                </div>
                <div class="col-md-9 bio-palestrante">
                 <h3>Cassio Imamura</h3> 
                 <q>...
                  </q>
                </div>
            </div>
         <div class="row palestrante-par" id="leonardo_azevedo">
                <div class="col-md-3 foto-palestrante">
                  <img src="img/palestrantes/leonardo_azevedo.jpg" />
                </div>
                <div class="col-md-9 bio-palestrante">
                 <h3>Leonardo Azevedo</h3> 
                 <q>...
                  </q>
                </div>
            </div>
         <div class="row palestrante-impar" id="piero_guarneri">
                <div class="col-md-3 foto-palestrante">
                  <img src="img/palestrantes/piero_guarneri.jpg" />
                </div>
                <div class="col-md-9 bio-palestrante">
                 <h3>Piero Guarneri</h3> 
                 <q>Desenvolvedor mobile e amante da 2ª Arte tenho como paixão o explorar das novas tecnologias e o 
                  desenvolvimento da ideia em si. Assim como na dança o desenvolvimento mobile conta com uma curva de 
                  aprendizado que, se não aprender novos passos , não ensaiar e não demonstrar seu trabalho no palco, 
                  esta não avança. E, assim como no mundo da dança, que este momento seja para compartilharmos experiências e ideias.
                  </q>
                </div>
            </div>
         <div class="row palestrante-par" id="rafael_manzoni">
                <div class="col-md-3 foto-palestrante">
                  <img src="img/palestrantes/rafael_manzoni.jpg" />
                </div>
                <div class="col-md-9 bio-palestrante">
                 <h3>Rafael Manzoni</h3> 
                 <ul>
                  <li>Certificado IBM WebSphere Message Broker</li>
                  <li>Graduado em Ciências da Computação – USP São Carlos</li>
                  <li>7 anos Analisando, Codificando, Integrando e Migrando</li>
                  <li>Foco em práticas de Integração, API e Serviços</li>
                  <li>Foco em Arquitetura e Boas Práticas</li>
                  <li>Estou sempre aprendendo e estudando novas tecnologias / tendências</li>
                  <li>Participo ativamente do <a href="https://stackoverflow.com/users/7655255/rafael-manzoni"> Stackoverflow</a></li>
                  <li>Viciado na plataforma <a href="https://codefights.com/profile/rafael_manzoni">CodeFigths</a></li>
                  <li>Quem quiser um desafio é só chamar</li>
                  <li>Pai da Clara</li>
                  <li>Gosta de Jogos de RPG</li>
                  <li>Baterista nas horas vagas</li>
                  </ul>
                </div>
            </div>
         <div class="row palestrante-impar">
                <div class="col-md-3 foto-palestrante">
                  <img src="img/palestrantes/agapito.jpg" />
                </div>
                <div class="col-md-9 bio-palestrante">
                 <h3>Robson Agapito</h3> 
                 <q>Entusiasta da qualidade de software, hoje Especialista em Qualidade, 
                    e com um passado em desenvolvimento de software. Olhar de QA com visão no valor da entrega. 
                    Experiência em implantação de automação de testes e times de qualidade, com foco em processos 
                    e nos objetivos do time. Conhecimento em metodologias/frameworks ágeis e capacitação de times de 
                    QA para Agile Testing
                  </q>
                </div>
            </div>
        </div>
    </section>
