 <!-- Palestrantes Section -->
    <section id="palestrantes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><i class="fa fa-4 fa-user" aria-hidden="true"></i> Palestrantes</h2>
                    <hr>
                </div>
            </div>
          <div class="row palestrante-impar" id="bruno_savani">
                <div class="col-md-3 foto-palestrante">
                  <img src="img/palestrantes/bruno_savani.jpg" />
                </div>
                <div class="col-md-9 bio-palestrante">
                 <h3>Bruno Savani</h3> 
                 <ul>
                    <li>Certificado MCSD WebApps</li>
                    <li>Graduado em Sistemas de Informação - FSA</li>
                    <li>MBA em Arquitetura de Soluções - FIAP</li>
                    <li>Trabalhando com Tecnologia de Informação desde 2005</li>
                    <li>Viciado em Video-Games e Séries</li>
                    <li>Apesar de trabalhar com a Microsoft prefiro PS4</li>
                    <li>Me adicionem na PSN</li>
                    <li>Pai da Gaia, uma Border-Collie</li>
                    <li>Quando possível ando de skate</li>
                  </ul>
                </div>
            </div>

         <div class="row palestrante-par" id="bruno_vitoriano">
                <div class="col-md-3 foto-palestrante">
                  <img src="img/palestrantes/bruno_vitoriano.jpg" />
                </div>
                <div class="col-md-9 bio-palestrante">
                 <h3>Bruno Vitoriano Bonetto</h3> 
                 <q>Desenvolvedor Nativo Android a 4 anos, formado em Analise e Desenvolvimento de Sistemas 
                    já participei de projetos de pequeno e grande porte, nacional e internacionalmente. 
                    Amante de Tecnologia, Patins Street e Cerveja Artesanal.
                  </q>
                </div>
            </div>
        <div class="row palestrante-impar" id="carlos_mattos">
                <div class="col-md-3 foto-palestrante">
                  <img src="img/palestrantes/carlos-mattos.jpg" />
                </div>
                <div class="col-md-9 bio-palestrante">
                 <h3>Carlos Mattos</h3> 
                 <q>Head of Technology & Architecture e responsável pela prática Microsoft da GFT Brasil, 
                   e também reconhecido pela Microsoft como Regional Director (RD)  e 12 anos como Most Valuable Professional (MVP).
                  </q>
                </div>
            </div>
        <div class="row palestrante-impar" id="jose_junior">
                <div class="col-md-3 foto-palestrante">
                  <img src="img/palestrantes/jose_carlos.jpg" />
                </div>
                <div class="col-md-9 bio-palestrante">
                 <h3>Jose Carlos Monteiro De Oliveira Junior</h3>
                 <q>Arquiteto de software no projeto Itaú MBI e integrante do Team API & Integration Practice Brazil 
                   na GFT Brazil. Com experiência em desenvolvimento e integração de software em diversos segmentos de negócio 
                   (telecom, financeira e comércio exterior) e plataformas, em empresas como Cielo, Alelo, Nec, Embracon, GM e Fedex. 
                   Entusiasta de Linux, Docker, Spring, NodeJS, e tecnologia que possa facilitar o dia a dia do desenvolvedor de software, 
                   principalmente o que se relaciona a automação de processos repetitivos.
                  </q>
                </div>
            </div>

         <div class="row palestrante-par" id="leonardo_azevedo">
                <div class="col-md-3 foto-palestrante">
                  <img src="img/palestrantes/leonardo_azevedo.jpg" />
                </div>
                <div class="col-md-9 bio-palestrante">
                 <h3>Leonardo Azevedo</h3> 
                 <q>Leonardo Vieiralves Azevedo é diretor comercial da GFT. Formado em Engenharia de Computação pela Unicamp, 
                  com especialização em administração de empresas pela FGV/SP e MBA pela Fundação Dom Cabral/University of British Columbia. 
                  Com mais de 20 anos de experiência profissional em TI, Leonardo esteve envolvido no projeto e entrega de projetos de 
                  transformação digital em diferentes clientes na América Latina e Europa, combinando Mobile, Integração e BPM para entregar 
                  soluções inovadoras para a indústria de serviços financeiros. Leonardo é casado, tem dois filhos, é faixa preta de Kung Fu 
                  e curte muito fotografia, direção off road e contato com a natureza.
                  </q>
                </div>
            </div>
         <div class="row palestrante-impar" id="piero_guarneri">
                <div class="col-md-3 foto-palestrante">
                  <img src="img/palestrantes/piero_guarneri.jpg" />
                </div>
                <div class="col-md-9 bio-palestrante">
                 <h3>Piero Guarneri</h3> 
                 <q>Desenvolvedor mobile e amante da 2ª Arte tenho como paixão o explorar das novas tecnologias e o 
                  desenvolvimento da ideia em si. Assim como na dança o desenvolvimento mobile conta com uma curva de 
                  aprendizado que, se não aprender novos passos , não ensaiar e não demonstrar seu trabalho no palco, 
                  esta não avança. E, assim como no mundo da dança, que este momento seja para compartilharmos experiências e ideias.
                  </q>
                </div>
            </div>
         <div class="row palestrante-par" id="rafael_manzoni">
                <div class="col-md-3 foto-palestrante">
                  <img src="img/palestrantes/rafael_manzoni.jpg" />
                </div>
                <div class="col-md-9 bio-palestrante">
                 <h3>Rafael Manzoni</h3> 
                 <ul>
                  <li>Certificado IBM WebSphere Message Broker</li>
                  <li>Graduado em Ciências da Computação – USP São Carlos</li>
                  <li>7 anos Analisando, Codificando, Integrando e Migrando</li>
                  <li>Foco em práticas de Integração, API e Serviços</li>
                  <li>Foco em Arquitetura e Boas Práticas</li>
                  <li>Estou sempre aprendendo e estudando novas tecnologias / tendências</li>
                  <li>Participo ativamente do <a href="https://stackoverflow.com/users/7655255/rafael-manzoni" target="_blank"> Stackoverflow</a></li>
                  <li>Viciado na plataforma <a href="https://codefights.com/profile/rafael_manzoni" target="_blank">CodeFigths</a></li>
                  <li>Quem quiser um desafio é só chamar</li>
                  <li>Pai da Clara</li>
                  <li>Gosta de Jogos de RPG</li>
                  <li>Baterista nas horas vagas</li>
                  </ul>
                </div>
            </div>
         <div class="row palestrante-impar" id="robson_agapito">
                <div class="col-md-3 foto-palestrante">
                  <img src="img/palestrantes/agapito.jpg" />
                </div>
                <div class="col-md-9 bio-palestrante">
                 <h3>Robson Agapito</h3> 
                 <q>Entusiasta da qualidade de software, hoje Especialista em Qualidade, 
                    e com um passado em desenvolvimento de software. Olhar de QA com visão no valor da entrega. 
                    Experiência em implantação de automação de testes e times de qualidade, com foco em processos 
                    e nos objetivos do time. Conhecimento em metodologias/frameworks ágeis e capacitação de times de 
                    QA para Agile Testing
                  </q>
                </div>
            </div>

        <div class="row palestrante-par" id="zendji_mizoguchi">
                <div class="col-md-3 foto-palestrante">
                  <img src="img/palestrantes/zen_mizo.jpg" />
                </div>
                <div class="col-md-9 bio-palestrante">
                 <h3>Zendji Mizoguchi</h3> 
                 <q>Bacharel em Ciência da Computação e Analista de Sistemas na GFT Brasil.<br/>
                    Experiência com desenvolvimento Mobile(Híbrido e iOS) com atuação em aplicativos para Abertura de Conta e Mobile Bank.<br/>
                    Apto ao aprendizado de novas tecnologias com paixão por quebras de paradigmas.<br/>
                    Para mim, tão importante quanto o aperfeiçoamento lógico precisamos investir e nosso desenvolvimento físico e  espiritual e para isso meus melhores hobbies são Boxe, SlackLine e trilhas em geral.
                  </q>
                </div>
            </div>

        </div>
    </section>
