 <!-- Palestrantes Section -->
    <section id="palestrantes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Palestrantes</h2>
                    <hr>
                </div>
            </div>
            <div class="row palestrante">
                <div class="col-lg-3 foto-palestrante">
                  <img src="img/palestrantes/agapito.jpg" />
                </div>
                <div class="col-lg-9 bio-palestrante">
                  <q>
                    Entusiasta da qualidade de software, hoje Especialista em Qualidade, 
                    e com um passado em desenvolvimento de software. Olhar de QA com visão no valor da entrega. 
                    Experiência em implantação de automação de testes e times de qualidade, com foco em processos 
                    e nos objetivos do time. Conhecimento em metodologias/frameworks ágeis e capacitação de times de 
                    QA para Agile Testing
                  </q>
                </div>
            </div>
        </div>
    </section>
